header {
  position: fixed;
  z-index: var(--z-navbar);
  width: 100vw;
  padding: 0 5vw !important;

  /* Glossy effect */
  background: rgba(255, 255, 255, 0.15); /* semi-transparent */
  backdrop-filter: blur(12px) saturate(180%);
  -webkit-backdrop-filter: blur(12px) saturate(180%);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); 
}



.header_main_div{
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* padding: 0 2rem; */
}

.headerLogoName{
    color: var(--color-main);
    font-size: var(--font-size-lg);
}

.spanText{
    font-weight: 600;
    font-size: var(--font-32);
}

.headerBtn{
    background-color: var(--color-sub-blue);
    font-size: var(--font-size-md);
    color: white;
    padding: 15px 25px;
    border-radius: var(--radius-lg);
    border: none;
}